<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/events">Dashboard<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<header>
		<h2 class="edit">Edit User</h2>
	</header>
	<div class="container">
		<% if flash[:errors] %>
			<p class="error"><%= flash[:errors] %></p>
		<% end %>
		<form class="edit-user" action="/users/<%= current_user.id %>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
			<input type="hidden" name="_method" value="patch" />
			<label for="user[first_name]">First Name</label>
			<input type="text" name="user[first_name]" value="<%= current_user.first_name %>" />
			<label for="user[first_name]">Last Name</label>
			<input type="text" name="user[last_name]" value="<%= current_user.last_name %>" />
			<label for="user[first_name]">Email</label>
			<input type="text" name="user[email]" value="<%= current_user.email %>" />
			<label for="user[first_name]">Location</label>
			<input type="text" name="user[city]" value="<%= current_user.city %>" />
			<%= select_tag :state, options_for_select(us_states, "#{current_user.state}") %>
			<label for="user[first_name]">Password</label>
			<input type="text" name="user[password]" />
			<label for="user[first_name]">Confirm PW</label>
			<input type="text" name="user[password_confirmation]" />
			<input class="button btn btn-success btn-sm" type="submit" value="Update">
		</form>
	</div>
</body>
</html>